<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>I use this page to host my publications, portfolio, and occasionaly post notes. Best way to reach me is by <a href="mailto:ivanvishniakou+work@gmail.com">email</a> or message on <a href="https://www.linkedin.com/in/ivan-vishniakou-9335a917a/">LinkedIn</a>.</p>
      </div>
    </div>
  </div>

</footer>